<%- include('./partials/header') %>

<main>
<h1>This is the index page</h1>
<ul>
    <% artists.forEach(function(eachArtist) { %>
        <li><a href="/artists/<%= eachArtist._id %>"><%= eachArtist.name %></a>, <%= eachArtist.team %>, <%= eachArtist.championships %></li>

  <%  }) %>


</ul>

<a href="/artists/new">New Artist</a>

</main>




    


<%- include('./partials/footer') %>