<%- include('./partials/header') %>

<main>
<div class="flexit">
<h1>Create your player!</h1>
<ul>
    <% artists.forEach(function(eachArtist) { %>
        <li class="bottom"><a href="/artists/<%= eachArtist._id %>">Name: <%= eachArtist.name %></a>, Team: <%= eachArtist.team %>,Rings:  <%= eachArtist.championships %></li>

  <%  }) %>


</ul>

<a class="indie" href="/artists/new">New Player</a>
</div>

</main>




    


<%- include('./partials/footer') %>