<%- include('./partials/header') %>

<main>
<h1>This is the show page</h1>
    <%= artist.name %><br>
    <%= artist.team %><br>
    <%= artist.championships %><br>

</main>





<%- include('./partials/footer') %>