<%- include('./partials/header') %>

<main>
<h1>This is the show page</h1>
    <%= artist.name %><br>
    <%= artist.team %><br>
    <%= artist.championships %><br>

    <a href="/artists/<%= artist._id %>/edit">edit</a>

</main>







<%- include('./partials/footer') %>